<p>Chào bạn, chúng tôi rất tiếc khi phải thông báo đến bạn rằng câu hỏi của bạn đã bị xóa.</p>
<p style="text-align: center;">Câu hỏi: <%= @qbank.question %>
	<br>Tùy chọn A: <%= @qbank.optionA %>
	<br>Tùy chọn B: <%= @qbank.optionB %>
	<br>Tùy chọn C: <%= @qbank.optionC %>
	<br>Tùy chọn D: <%= @qbank.optionD %>
</p>
<p>Chúng tôi quyết định xóa câu hỏi của bạn vì câu hỏi đã vi phạm chính sách cộng đồng của chúng tôi.</p>
- Quizhub