<div class="container-form">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-xs-12" style="overflow: hidden;">
        <%= form_with(model: qbank, url: [current_user, qbank], local: true) do |f| %>
          <% if qbank.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h4> Có <%= pluralize(qbank.errors.count, "")%> lỗi xảy ra: </h4>
              <ul>
                <% qbank.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <h3 class="box-title"><%= button_name %></h3>
          <div class="form-group">
            <label>Câu hỏi:</label>
            <%= f.cktext_area :question, autocomplete: "on", placeholder: "Câu hỏi", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Tùy chọn 1: </label>
            <%= radio_button("qbank", "option_match", "A") %> Chọn đây là đáp án đúng
            <%= f.text_field :option1, autocomplete: "on", placeholder: "", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Tùy chọn 2: </label>
            <%= radio_button("qbank", "option_match", "B") %> Chọn đây là đáp án đúng
            <%= f.text_field :option2, autocomplete: "on", placeholder: "Câu hỏi", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Tùy chọn 3: </label>
            <%= radio_button("qbank", "option_match", "C") %> Chọn đây là đáp án đúng
            <%= f.text_field :option3, autocomplete: "on", placeholder: "Câu hỏi", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Tùy chọn 4: </label>
            <%= radio_button("qbank", "option_match", "D") %> Chọn đây là đáp án đúng
            <%= f.text_field :option4, autocomplete: "on", placeholder: "Câu hỏi", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Đáp án chi tiết:</label>
            <%= f.text_field :answer, autocomplete: "on", placeholder: "Câu hỏi", class: "form-control" %>
          </div>

          <div class="form-group">
            <label>Chọn lớp:</label>
            <%= f.select :category_id, categories.collect { |c| [c.name, c.id]}, {include_blank: "Chọn lớp"}, {:class => 'form-control'} %> 
          </div>

          <div class="form-group">
            <label> Chọn môn:</label>
            <%= f.select :subject_id, subjects.collect { |s| [s.name, s.id]}, {include_blank: "Chọn môn học"}, {:class => 'form-control'} %>
          </div>

          <% if current_user.role %>
            <div class="checkbox">
              <label>
                <%= f.check_box :accept, class: "checkbox" %> Chấp nhận câu hỏi này
              </label>
            </div>
          <%end %>

          <%= f.hidden_field :user_id, :value => qbank.id.nil? ? current_user.id : qbank.user.id  %>
          
          <div class="form-group">
            <%= recaptcha_tags %>
          </div>

          <div class="form-group" style="text-align: center;">
            <%= f.submit button_name,class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>