<tr>
	<td><%= raw qbank.question %></td>
	<td><%= qbank.category.name %></td>
	<td><%= qbank.subject.name %></td>
	<td><%= qbank.user.fullName %></td>
	<td></td>
	<td>
		<% if current_user.id == qbank.user.id || current_user.role %>
			<%= link_to user_qbank_path(current_user, qbank) do%>
				<i class="fa fa-eye" aria-hidden="true"></i>
			<% end %>

			<%= link_to edit_user_qbank_path(current_user, qbank) do %>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			<% end %>

			<a data-confirm="Are you sure?" rel="nofollow" data-method="put" href="/qbanks/delete/<%= qbank.id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
		<%end %>
	</td>
	<% if current_user.role %>
	<td><%= link_to user_qbank_path(current_user, qbank), method: :delete, data: { confirm: 'Are you sure?'} do %>
			<i class="fa fa-times" aria-hidden="true"></i>
		<%end %>
	</td>
	<% end %>
</tr>