<tr id="qbank_<%= qbank.id %>">
	<td>
		<% if qbank.question.include?('<img')%>
			<% qbank.question[qbank.question[/style=".*"/]] = '' %>
			<%= sanitize raw qbank.question %>
		<% else %>
			<%= sanitize raw qbank.question %>
		<% end %>
    </td>
	<td ><%= qbank.category.name %>/<%= qbank.subject.name %></td>
	
	<td >
		<%= link_to user_path(qbank.user.id) do %>
			<%= qbank.user.fullName %>
		<% end %>
	</td>
	<td ><%= qbank.created_at.strftime("%d/%m/%Y") %></td>
	<td><%= qbank.tests.size %></td>
	<td><%= accepted(qbank.accept) %></td>
	<td>
		<% if current_user.id == qbank.user.id || current_user.role %>
			<%= link_to user_qbank_path(current_user, qbank) do%>
				<i class="fa fa-eye" aria-hidden="true"></i>
			<% end %>

			<%= link_to edit_user_qbank_path(current_user, qbank) do %>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			<% end %>
			
			<%= link_to qbanks_delete_path(qbank.id), remote: true, data: {confirm: "Bạn có chắc muốn xóa không?"}, method: :put do%>
				<i class="fa fa-trash" aria-hidden="true"></i>
			<% end %>
		<%end %>
	</td>
</tr>