<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="container-form">
			<div style="margin-bottom: 5px;">
				<span style="font-size: 20px;">Nhập bằng file excel</span>
				<%= link_to "Tải File excel Mẫu", qbanks_download_file_excel_sample_path, class: "btn btn-info" %>
			</div>
			<%= form_tag import_user_qbanks_path(current_user.id), multipart: true, class: "form-inline import_qbank" do %>

				<div class="form-group inline">
					<p><%= file_field_tag :file, class: "form-control-file", style: "width: 230px;" %></p>
				</div>
				<div class="form-group">
					<p>
						<label>Chọn lớp:</label>
						<%= select_tag :category_id, options_for_select(@categories.collect { |c| [c.name, c.id]}), include_blank: "Chọn lớp", :class => 'form-control' %>
					</p>
				</div>

				<div class="form-group">
					<p>
						<label> Chọn môn:</label>
						<%= select_tag :subject_id, options_for_select(@subjects.collect { |s| [s.name, s.id]}), include_blank: "Chọn môn học", :class => 'form-control' %> 

					</p>
				</div>
				<div class="form-group">
					<%= recaptcha_tags %>
						
				</div>
				<div class="form-group">
					<%= submit_tag "Import", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
		<script type="text/javascript">
		    <%= render 'layouts/validate.js' %>
		</script>

		<div class="container-form" >
			<%= link_to 'Thêm câu hỏi', new_user_qbank_path(current_user), class: "btn btn-primary" %>
			<h1 style="text-align: center;">Ngân hàng câu hỏi</h1>

			<%= form_tag user_qbanks_path(current_user.id), method: :get, class: "form-inline" do %>
				<div class="form-group">
					<p>
						<%= select_tag :category_id, options_for_select(@categories.collect { |c| [c.name, c.id]}, params[:category_id]), include_blank: "Tất cả các lớp", :class => 'form-control' %>
					</p>
				</div>

				<div class="form-group">
					<p>
						<%= select_tag :subject_id, options_for_select(@subjects.collect { |s| [s.name, s.id]}, params[:subject_id]), include_blank: "Tất cả các môn học", :class => 'form-control' %> 
					</p>
				</div>

				<div class="form-group">
					<p>
						<label>
		                   <input type="checkbox" value="1" <%= "checked" if !params[:of_me].nil? %> name="of_me" id="of_me"> Câu hỏi của tôi
		                </label>
					</p>
				</div>

				<div class="form-group">
					<p>
						<%= submit_tag "Lọc", class: "btn btn-success" %>	
					</p>
				</div>
				
			<% end %>

			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th class="col-md-4">Câu hỏi</th>
			      <th class="col-md-1">Lớp</th>
			      <th class="col-md-1">Môn</th>
			      <th class="col-md-2">Người đăng</th>
			      <th class="col-md-1">Có trong số đề thi</th>
			      <th class="col-md-2">Trạng thái</th>
			      <th colspan="2" class="col-md-2">Action</th>
			    </tr>
			  </thead>
			  <% if @qbanks.blank? %>
			  	<tbody><tr><td colspan="7">Không có câu hỏi</td></tr></tbody>
			  <% else %>
				  <tbody id="qbanks">
					<%= render @qbanks %>
				  </tbody>
			  <%end %>
			</table>
			<div id="infinite-scrolling">
				<p><%= will_paginate @qbanks %></p>
			</div>
			<br>
			
		</div>
	</div>
</div>


