<h1>Chi tiết câu hỏi</h1>
<table class="table">
	<tr>
		<td>ID: </td>
		<td><%= @qbank.id %></td>
	</tr>
	<tr>
		<td>Question: </td>
		<td><%= @qbank.question %></td>
	</tr>
	<tr>
		<td>optionA: </td>
		<td><%= @qbank.optionA %></td>
	</tr>
	<tr>
		<td>optionB: </td>
		<td><%= @qbank.optionB %></td>
	</tr>
	<tr>
		<td>optionC: </td>
		<td><%= @qbank.optionC %></td>
	</tr>
	<tr>
		<td>optionD: </td>
		<td><%= @qbank.optionD %></td>
	</tr>
	<tr>
		<td>Option Match: </td>
		<td><%= @qbank.option_match %></td>
	</tr>
	<tr>
		<td>Answer: </td>
		<td><%= @qbank.answer %></td>
	</tr>
	<tr>
		<td>image: </td>
		<td><%= @qbank.image %></td>
	</tr>
	<tr>
		<td>mp3: </td>
		<td>
			<audio controls>
				<source src="<%= url_for(@qbank.mp3) if @qbank.mp3.attached? %>" type="audio/mpeg">
					Your browser does not support the audio element.
			</audio>
		</td>
	</tr>
	<tr>
		<td>Nguoi dang: </td>
		<td><%= @qbank.user.fullName %></td>
	</tr>
	<tr>
		<td>lop: </td>
		<td><%= @qbank.category.name %></td>
	</tr>
	<tr>
		<td>mon hoc: </td>
		<td><%= @qbank.subject.name %></td>
	</tr>

</table>

