<div class="">
  <div class="cover-form-login send-mail">
    <div class="right">
      <br>
      <div class="text-center">
        <h3>Đổi Mật Khẩu</h3>
      </div>  
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <label for="exampleInputEmail1">Địa chỉ Email:</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>                
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <label for="exampleInputPassword1">Mật khẩu hiện tại:</label>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Mật khẩu hiện tại", class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Mật khẩu: (tối thiểu 8 ký tự và gồm ít nhất 1 chữ hoa, 1 chữ thường, 1 số)</label>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Mật khẩu", class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Xác nhận mật khẩu:</label>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Xác nhận mật khẩu", class: "form-control" %>
        </div>

        <div class="text-center">
          <div class="form-group">
            <%= f.submit "Đổi mật khẩu", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="card-footer">
        <div class="text-center">
          <p>Bạn muốn xóa tài khoản? <%= button_to "Hủy tài khoản của tôi", registration_path(resource_name), data: { confirm: "Bạn chắc chứ?" }, class: "btn btn-warning", method: :delete %></p>
        </div>
      </div>
    </div>
    
  </div>
</div>