<div class="col-md-6">
  <!-- USERS LIST -->
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">Thành viên mới trong vòng 7 ngày qua</h3>

      <div class="box-tools pull-right">
        <span class="label label-danger"><%= User.where("created_at >= ?",1.week.ago).size %> New Members</span>
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
                    <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button> -->
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    <% @users.each do |user| %>
                    <li>
                      <% if user.image.file.nil? %>
                        <%= image_tag("avatar.png", alt: "User Image", height: '100px', width: '100px') %>
                      <% else %>
                        <%= image_tag(user.image.url, alt: "User Image", height: '100px', width: '100px') %>
                      <% end %>

                      <%= link_to user.fullName, user_path(user.id), class: "users-list-name" %>
                      <span class="users-list-date"><%= user.created_at.strftime("%d %b. %Y") %></span>
                    </li>
                    <%end %>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <%= link_to 'View All Users', users_path,class: "uppercase" %>
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>