<div class="col-md-6">
<!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recently Added Products</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
               
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                <% @products.each do |p| %>
                <li class="item">
                  <a href="/products/<%= p.id %>">
                  <div class="product-img">
                    <% if p.image.nil? %>
                      <%= image_tag p.thumbnail, alt: "" %>
                    <% else %>
                      <%= image_tag p.image, alt: ""%>
                    <% end %>
                  </div>
                  <div class="product-info">
                    <span style="font-size: 16px; font-weight: 600;"><%= p.name %></span>
                      <span class="label label-warning pull-right">$<%= p.price %></span>
                    <span class="product-description">
                          <%= strip_tags(p.description) %>
                        </span>
                  </div>
                </a>
                </li>
                <%end %>
                <!-- /.item -->
           
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="/products" class="uppercase">View All Products</a>
            </div>
            <!-- /.box-footer -->
          </div>
</div>