<tr id="user_<%= user.id %>">
	<td>
		<%= link_to user do %>
			<% if user.image.file.nil? %>
				<%= image_tag("avatar.png", width: "100px", height: "100px") %>
			<% else %>
				<%= image_tag(user.image.url, width: "100px", height: "100px") %>
			<% end %>
			<%= user.fullName %>
		<% end %>
	</td>
	<td><%= gender_user(user.gender) %></td>
	<td><%= user.year_birthday.strftime('%d/%m/%Y') if !user.year_birthday.nil? %></td>
	<td><%= user.address %></td>
	<td>
	    <%= link_to edit_user_path(user) do %>
	    	<i class="fa fa-pencil" aria-hidden="true"></i>
	    <% end %>
	    <div id="banned_<%= user.id %>" class="ban_user" style="<%= "display: block;" if !user.banned %>">
			    <%= link_to users_banned_path(user.id), remote: true, data: {confirm: "Bạn có chắc muốn cấm không?"}, method: :put do%>
					<i class="fa fa-ban" aria-hidden="true"></i>
				<% end %>
		</div>
	   <div id="unbanned_<%= user.id %>" class="ban_user" style="<%= "display: block;" if user.banned %>">
			    <%= link_to users_unbanned_path(user.id), remote: true, data: {confirm: "Bạn có chắc muốn bỏ cấm không?"}, method: :put do%>
					<i class="fa fa-unlock" aria-hidden="true"></i>
				<% end %>
		</div>
	</td>
</tr>
<style type="text/css">
	.ban_user {
		display: none;
	}
</style>