<body class="hold-transition skin-blue sidebar-mini margin-top-left-admin">
  <div class="wrapper">

    <!-- Main Header -->
    <%= render "layouts/navbar" %>
    <!-- Left side column. contains the logo and sidebar -->
    <%= render "administration/left" %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">

      </section>

      <!-- Main content -->

      <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="container-form">
          <%= form_tag users_path, method: :get, class: "form-inline" do %>
            <div class="form-group">
              <label>Người dùng mới tham gia</label>
                <%= select_tag :days, options_for_select([["Hôm nay", "1"],["7 ngày trước", "7"]], params[:days]), include_blank: "Tất cả người dùng", :class => 'form-control' %>
            </div>

           <div class="form-group">
              <%= submit_tag "Lọc", class: "btn btn-success" %> 
          </div>
        
        <% end %>
        <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Họ Tên </th>
                <th> Giới tính </th>
                <th> Ngày sinh </th>
                <th> Địa chỉ</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="users">
              <%= render @users %>
            </tbody>
          </table>
          <%= will_paginate @users %>
        </div>

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <!-- Control Sidebar -->
    <%= render "administration/controlRight" %>
    <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->

  </div>
  <!-- ./wrapper -->

</body>