<%= provide(:title, @user.fullName)%>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-1" id="tests">
			<div class="table-personal-information" >

            	<% if @user.image.file.nil? %>
	              <%= image_tag("avatar.png", width: "100px", height: "100px") %>
	            <% else %>
	              <%= image_tag(@user.image.url, width: "100px", height: "100px") %>
	            <% end %>
				<h4>Thông tin cá nhân:</h4>
				<% if current_user.role == true || current_user.id == @user.id %> 
					<%= link_to "Chỉnh sửa", edit_user_path(@user.id) %>
				<% end %>
				<table class="table">
					<tr>
						<th>Họ tên: </th>
						<td ><%= @user.fullName %></td>
					</tr>
					<tr>
						<th>Giới tính: </th>
						<td><%= gender_user(@user.gender) %></td>
					</tr>
					<tr>
						<th>Ngày sinh: </th>
						<td ><%= @user.year_birthday.strftime('%d/%m/%Y') if !@user.year_birthday.nil? %></td>
					</tr>
					<tr>
						<th>Địa chỉ: </th>
						<td ><%= @user.address %></td>
					</tr>
				</table>
			</div>
			<%= render partial: "test", collection: @tests %>
			<div style="margin-bottom: 10px"></div>
			<% if @tests.size >= 10 %>
				<button class="btn btn-large btn-block btn-primary" id="view_all_tests">Xem tất cả các đề thi</button>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-6" id="results">	
			<div style="margin-top: -10px"></div>
			<%= render partial: "result", collection: @results %>
			<%= will_paginate @results %>
		</div>

	</div>
	<div style="margin-bottom: 20px"></div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	  $("#view_all_tests").click(function(){
	    $('#view_all_tests').remove();
	    $('#tests').append("<%= j render partial: 'test', collection: @all_tests %>");
	  });
	});
</script>