<%= provide(:title, @user.fullName)%>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="table-personal-information">

            	<% if @user.image.file.nil? %>
	              <%= image_tag("avatar.png", width: "100px", height: "100px") %>
	            <% else %>
	              <%= image_tag(@user.image.url, width: "100px", height: "100px") %>
	            <% end %>
				<h4>Thông tin cá nhân:</h4>
				<% if current_user.role == true || current_user.id == @user.id %> 
					<%= link_to "Chỉnh sửa", edit_user_path(@user.id) %>
				<% end %>
				<table class="table">
					<tr>
						<th>Họ tên: </th>
						<td colspan="2"><%= @user.fullName %></td>
					</tr>
					<tr>
						<th>Giới tính: </th>
						<td colspan="2"><%= gender_user(@user.gender) %></td>
					</tr>
					<tr>
						<th>Ngày sinh: </th>
						<td colspan="2"><%= @user.year_birthday.strftime('%d/%m/%Y') if !@user.year_birthday.nil? %></td>
					</tr>
					<tr>
						<th>Địa chỉ: </th>
						<td colspan="2"><%= @user.address %></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="table-personal-information table-post-user">
				<h2>Bai trac nghiem user da lam</h2>
			</div>
		</div>
	</div>
</div>