<div class="cover-form-login send-mail">
	<h2 class="text-center">Bạn quên mật khẩu?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="form-group">
          <label for="exampleInputEmail1">Địa chỉ Email:</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>                
      </div>

	  <div class="form-group text-center">
	    <%= f.submit "Gửi cho tôi hướng dẫn đặt lại mật khẩu", class: "btn btn-success" %>
	  </div>
	<% end %>

	<div class="text-center">
        <%= link_to "Đăng nhập", new_session_path(resource_name) %>
    </div>
</div>
