<div class="">
	<h1>Xin chào, <%= current_user.fullName %></h1>
	<%= link_to "Change your password", edit_user_registration_path %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% if !current_user.image.file.nil? %>
		<% begin %>
			<%= image_tag(current_user.image_identifier) %>
		<% rescue %>
			<%= image_tag(current_user.image.url) %>
		<% end %>
	<% end %>
</div>
