<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Total time</th>
      <th>Total score</th>
      <th>Test</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= convert_to_time(result.total_time) if result.total_time.present? %></td>
        <td><%= result.total_score %></td>
        <td><%= result.test_id %></td>
        <td><%= result.user_id %></td>
  
        <td><%= link_to 'Destroy', user_result_path(current_user,result.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

