<div class="container-form">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-xs-12" style="overflow: hidden;">
        <%= form_with(model: test, url: [current_user, test], local: true) do |f| %>
          <% if test.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h4> Có <%= pluralize(test.errors.count, "")%> lỗi xảy ra: </h4>
              <ul>
                <% test.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <h3 class="box-title"><%= form_name %></h3>
          <div class="form-group">
            <label>Tên đề thi (*):</label>
            <%= f.text_field :name, autocomplete: "on", placeholder: "Tên đề thi", class: "form-control" %>
          </div>

           <div class="form-group">
            <label>Mô tả đề thi: </label>
            <%= f.cktext_area :description %>
          </div>

           <div class="form-group">
            <label>Điểm tuyệt đối (*): </label>
            <%= f.text_field :full_score, class: "form-control", placeholder: "Điểm tuyệt đối" %>
          </div>

          <div class="form-group">
            <label>Thời gian làm bài (phút) (*): </label>
            <%= f.text_field :duration, class: "form-control", placeholder: "Thời gian làm bài" %>
          </div>
           

          <div class="form-group">
            <label>Chọn lớp (*):</label>
            <%= f.select :category_id, categories.collect { |c| [c.name, c.id]}, {include_blank: "Chọn lớp"}, {:class => 'form-control'} %> 
          </div>

          <div class="form-group">
            <label> Chọn môn (*):</label>
            <%= f.select :subject_id, subjects.collect { |s| [s.name, s.id]}, {include_blank: "Chọn môn học"}, {:class => 'form-control'} %>
          </div>

          <%= f.hidden_field :user_id, :value => test.id.nil? ? current_user.id : test.user.id  %>
          <label>Lưu ý: các trường có dấu (*) không thể bỏ trống</label>
          <div class="form-group">
            <%= recaptcha_tags %>
          </div>

          <div class="form-group" style="text-align: center;">
            <%= f.submit button_name,class: "btn btn-primary" %>
          </div>
        <% end %>
        <% if back == "edit" %>
          <%= link_to "Trở lại", user_test_path(current_user, test) %>
        <% else %>
          <%= link_to "Trở lại", user_tests_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>