<!DOCTYPE html>
<html>
<head>
  <title><%= maketitle(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
  <script>
      $(window).on('beforeunload', function(){
        $('body').addClass("loading");
      });
  </script>
</head>

<body>
  <% if !user_signed_in? %>
    <div class="logo-login">
      <%= link_to root_path do %>
      <%= image_tag("logo.png", width: "160px", height: "60px") %>
      <% end %>
    </div>
  <% else %>
    <%= render partial: "layouts/navbar" %>
    <div class="margin-top-content">
    </div>
  <%end %>

  <div class="loading-bar"></div>
  
  <div id="flash">
    <%= custom_bootstrap_flash %> 
  </div>
  
  <div id="container_application" <%= "class=container" if !(original_url.include?("administration")) %> >   
    <%= yield %>
  </div>
</div>
</body>
</html>
